<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p>Create a post</p>
    <form th:action="@{/handleNewPost}" th:object="${post}" method="post">
        <p>Choose a community</p>
        <select name="" th:field="*{subRedditId}">
            <option th:each="subreddit : ${subreddits}"
                    th:value="${subreddit.id}"
                    th:text="${subreddit.name}"></option>
        </select><br>
        <input type="text" placeholder="Title" th:field="*{title}"><br>
        <textarea name="" cols="30" rows="10"
                  placeholder="Text(Optional)"
                  th:field="*{content}"></textarea><br>
        <input type="submit" value="Post" >
    </form>
</div>
</body>
</html>